<nav class="h-[10vh] flex justify-between px-12 bg-cyan-500 text-lg items-center text-white">
  <a class="text-2xl font-bold" href="{% url 'home' %}">TeleMed</a>
  
  <ul class="flex gap-8 items-center">
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      {% if request.user.is_authenticated %}
          {% if request.user.account.user_type == 'normal' %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'upload_file' %}">Upload File</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'schedule_appointment' %}">Schedule apointment</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'schedule_conference' %}">Schedule conference</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'view_conferences' %}">View conferences</a>
            </li>
          {% endif %}
          {% if request.user.account.user_type == 'doctor' %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'user_data_list' %}">Files</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'access_user_data' %}">View Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'manage_appointments' %}">Manage Appointment</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'view_conferences' %}">View conferences</a>
            </li>
          {% endif %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
          </li>
      {% else %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'user_login' %}">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'user_register' %}">Register</a>
          </li>
      {% endif %}
  </ul>
</nav>
